<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="com.zh.dao.TimeInfoDao">
 	<select id="queryAllTimeInfo" resultType="com.zh.vo.TimeInfo">
 		select * from timeinfo
 	</select>
 </mapper>